<html>

<head>
    <h1>Ho ho ho!</h1>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div><strong>{{sender_name}}, cette année tu offres un cadeau à {{target_name}} ! 🎁
        </strong></div>
    <br>

    <footer> Le Père Noël 🎅🏼 </footer>

    <style>
        footer {
            text-align: right;
        }
    </style>
</body>

</html>